################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/githubscripting/FileContentIndex/read.lock
/.vs/githubscripting/FileContentIndex/6afeb581-d1ba-406b-a16f-48bb9233539a.vsidx
/.vs/githubscripting/FileContentIndex/21f39558-8b35-4ee5-9f06-961ceeda5381.vsidx
